html{
    scroll-behavior:smooth;
}
/*Eso es un efecto en los enlaces internos*/

body{
    font-family: Operator Mono,Consolas,sans-serif;
}
h1{
    color:navy;
}
img,video{
    max-width:100%; /*El 100% de la pantalla */
    max-height: auto;
}

iframe{
    width:80%;
    height:400px;
}